@import url("https://fonts.googleapis.com/css?family=Nunito|Ranga");
body {
  font-family: 'Nunito', serif; }
a{
	color:lime;
}
.header, .footer {
  background-color: #4052f6;
  color: #fff;
  font-family: 'Ranga', cursive; }

.header {
  height: 50px;
  padding: 5px 0 0 10px;
  margin-bottom: 2vh; }
  
.bottom{
margin-top: 100%;

}

.footer {
  height: 40px;s
  padding: 5px 0 0 10px;
  margin-top: 3vh;
  }
  .footer .about {
    margin: 5px auto 0; }

.btn-warning {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 3em;
  line-height: 0.80;
  display: block;
  border: 1px solid #ffff;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold; }

form {
  width: 50%;
  border: 1px solid #e9536c;
  margin: 2vh auto 2vh;
  padding: 10px;
  border-radius: 10px;
  background-color: #00ffff;
  color: #8F754F;
  font-family: 'Nunito', sans-serif; }
  form textarea {
    width: 100%;
    overflow: auto;
    border-radius: 5px;
    outline: 0 none; }
  form button {
    width: 75px;
    height: 35px;
    text-align: center;
    border: 0px solid #e9536c;
    color: #FFF;
    background-color: #e9536c;
    border-radius: 2px;
    margin-right: 10px;
    text-decoration: none;
    transition: background .15s ease-in, transform .25s ease-in-out; }
  @media screen and (max-width: 580px) {
    form {
      width: 95%; } }

button:active, button:hover, button:focus {
  outline: 0;
  cursor: pointer;
  background: rgba(255, 142, 69, 0.5);
  transform: scale(1.07); }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none; }

.note {
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  font-family: 'Nunito', sans-serif; }
  .note .inner {
    background-color: #FFF6A7;
    padding: 5px;
    border-radius: 5px;
    height: 230px;
    color: #8F754F;
    overflow-x: hidden;
    overflow-y: auto; }
  .note .title {
    background-color: #FFF275;
    padding: 1px;
    height: 45px; }
    .note .title h2 {
      display: inline-block; }
  .note .btn {
    background-color: #58A33A;
    color: #FFF;
    margin: 1px 0px 1px 5px;
    float: right; }
  .note .del {
    background-color: #DD4B1A; }
  .note .save {
    background-color: #e9536c; }
  .note input, .note textarea {
    margin: 1px;
    width: 100%;
    border-radius: 5px; }
  .note span {
    padding-left: 15px; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.jokes {
  margin-top: 5em; }

/*another app*/
